@charset "utf-8";

// @mixin font-face($name,$file,$weight,$style){
   
//     font-family:"#{$name}";
//     src:url('/font/#{$file}.woff2') format('woff2');
//     font-weight:$weight;
//     font-style:$style;
    
// }
@font-face {
    font-family: 'gotham';
    src: url('../font/GothamSSm-XLight_Web-e6c47212a5d1c045d39623dc07cd5ff6.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'gt-sectra';
    src: url('../font/GT-Sectra-Display-Light-82a3fd8a353f23c8b40ee1aa0f3505ff.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'messina-sans';
    src: url('../font/MessinaSansWeb-Regular-ac7b9005f1afe4b2e9b86ad163be8031.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* common.css */
*{ box-sizing: border-box;}
body{margin:0;}
h1,h2,h3,h4,h5,h6,p{margin:0;}
a{text-decoration:none; color:#222;}
img{vertical-align:middle;}
table{border-collapse: collapse;}
ul,li{list-style-type: none; padding:0; margin:0;}

header{
    position:fixed;
    left:0; top:0;
    width:100%;
    padding:3rem 0;
    z-index: 10;
    >div{
        width:80%;
        margin:0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1{
            font-weight: 200;
            a{
                display:inline-block;
                svg{width:auto; height:2.15rem;}
                small{
                    letter-spacing:4px;
                    font-size:10px; 
                    text-transform:uppercase;}
                }
            }
        nav{
            font-family:'messina-sans';
            margin-left:auto;
            margin-right:2.3rem;
            font-size:1rem;
            a{ 
                display: inline-block;
                position: relative;
                color:#fff;
                margin-right:1.8rem;
                font-weight: 200;
            }
            a::after{
                content:'';
                border-bottom: 1px solid #fff;
                transform: scale(0);
                transition: transform 250ms ease-in-out;  
                transform-origin: right;
                width:100%;
                position:absolute;
                left:0; bottom:0;
            }
            a:hover::after{
                transform: scale(1);
                transform-origin: left;
            }
        }
        .triger-menu{
            display: block;
            width:22px; height:40px;
            position: relative;
            span{
                position:absolute;
                right:0; top:50%;
                border:1px solid #fff;
                width:100%;
            }
            span:nth-of-type(1){transform: translateY(-300%);}
            span:nth-of-type(3){transform: translateY(300%); width:50%;}
        }
    }
}

.button{
    width:80%;
    margin:0 auto;
    position: absolute;
    left:10%; bottom:10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3{ 
        color:#fff;
        line-height:2; font-family: 'messina-sans';
        font-size:1.175rem;
        small{font-size: .9rem; color:hsla(0,0%,100%,.65);}
    }
    p{
        width:90px; height:90px;
        border:1px solid #fff;
        border-radius: 100%;
        z-index: 5;
        svg{
            transform: translate(-50%,-50%) rotate(90deg);
            margin:50% ;
            width:1.5rem; height:auto;
            polygon{fill:#fff;}
        }
    }
}


footer{
    width:100%;
    height:30vw;
    background-color: rgb(3, 32, 28);
    .foot{
        padding-top:7%;
        display: flex;
        justify-content: space-between;
        font-family: 'messina-sans';
        width:80%;
        color:#fff;
        margin:0 auto;
        .left{
            padding:0;
            width:50%;
            svg{ 
                display: block;
                width:auto; 
                height: 4rem;  
            }
            p{
                padding-top:40%;  
                color: hsla(0,0%,100%,.75);
                font-size:0.75rem;
            }
        }
        .right{
            line-height:2;
            width:50%;
            display: flex;
            justify-content: space-between;  
            .right-1{
                p{ 
                    flex-direction: column;
                    text-transform: uppercase; 
                    font-size:.7rem;
                    display:flex; letter-spacing: -.01em;
                    margin-bottom: 0.25rem;
                    color: hsla(0,0%,100%,.75);}
                nav{
                    ul{
                        li{
                            a{ line-height: 2;
                                font-size: 1rem;
                                color:#fff; 
                                display:inline-block;
                                position:relative;
                                width:100%;
                            }
                            a::after{
                                content:'';
                                border-bottom: 1px solid #fff;
                                transform: scale(0);
                                transition: transform 250ms ease-in-out;  
                                transform-origin: right;
                                width:100%;
                                position:absolute;
                                left:0; bottom:0;
                            }
                            a:hover::after{
                                transform: scale(1);
                                transform-origin: left;
                            }
                        }
                    }
                }
            }
            .right-2{
                margin-left:6vw;
                width:100%;
                nav{
                    width:100%;
                    display: flex;
                    justify-content: space-between;  
                    ul{ 
                        li{
                            a{ 
                                margin-bottom: 0.25rem;
                                line-height: 2;
                                font-size: 1rem;
                                color:#fff; 
                                display:inline-block;
                                position:relative;
                                width:100%;
                            }
                            a::after{
                                content:'';
                                border-bottom: 1px solid #fff;
                                transform: scale(0);
                                transition: transform 250ms ease-in-out;  
                                transform-origin: right;
                                width:100%;
                                position:absolute;
                                left:0; bottom:0;
                            }
                            a:hover::after{
                                transform: scale(1);
                                transform-origin: left;
                            }
                        }
                    }
                }
            }
        }
    }
}