@import '_common';

$p100 : 100px 0;//padding

@mixin flex($jc, $ai,$fd,$fw){
    display: flex;
    justify-content: $jc;
    align-items:  $ai;
    flex-direction:$fd;
    flex-wrap: $fw;
}

@mixin button($bc, $pd,$dp,$col){
    background-color: $bc;
    padding:$pd;
    display: $dp;
    color:$col
}


  

header{
    position: fixed;
    left:0; top:0;
    width:100%;
    padding:30px 0;
    z-index:9;
    >div{
        position: relative;
        width:70%; margin: 0 auto;
        @include flex(space-between,center,row,nowrap);
        // display: flex;
        // justify-content:space-between ;
        // align-items: center;
        a{color:#fff;}
        h1{
            a{
                background: url('../img/logo.png') no-repeat;
                font-size: 0;
                width:96px; height:36px;
                display: block;//인라인-block or inline-block
            }
        }
        nav{
            flex-grow:1; text-align: right;
            a{display:inline-block; padding: 0 2%;}
           }
           .trigger-menu{
               right:0; top:30;
               position: absolute;
               width:26px; height:16px;
               cursor:pointer;

              display: none;
               span{ //span은 trigger의 width,height값 안에 갇히는것
                   width:100%; 
                   border-bottom: 2px solid #fff;
                    position: absolute;
                    left:0; top:50%;

                //&-> span(상위요소)
                &:nth-of-type(1){
                    transform: translateY(-6px);
                }
                &:nth-of-type(3){
                    transform: translateY(6px);
                }
                }
            

           }
    }
}

main{}
.visual{
    position: relative;
    >div{
        // animation: high 1s forward;
        position: absolute;
        left:0; top:0;
        // transform: translateY(500px);
        width:100%; height:100%;
        @include flex(center,center,column,nowrap);
        // display: flex;
        // justify-content: center; //flex-start
        // align-items: center; //stretch
        // flex-direction: column; //row
        p{
            color:#fff;
            font-size: 5rem;
            small{
                display: block;
                font-size: 2rem;
                text-align: center;
            }
        }
        a{
            @include button( #fed136, 16px 40px , inline-block,#fff);
            // @mixin button($bc, $pd,$dp,$col){
            //     background-color: $bc;
            //     padding:$pd;
            //     display: $dp;
            //     color:$col
            // }
            // background-color: #fed136;
            // padding: 16px 40px;
            // display: inline-block;
            // color:#fff;
        }
    }
    >img{width:100%;}
}
@keyframes high{
 100%{transform: translateY(-300px);}
}
section{
    background-color: #f7f7f7;
    padding:$p100;
    text-align: center;

    h2{
        font-size:3rem;
        white-space: pre-line;
        text-transform: uppercase;
       

        small{
            text-transform: none;
            font-weight: normal;
            color:#555;
            font-size: 12px;
        }
    }
    ul{
        width:70%;
        @include flex(space-between,stretch,row,wrap);
    //     display: flex;
    //     justify-content:space-between;
    //    flex-wrap: wrap;
        margin: 40px auto;


    li{
        width:30%; margin-bottom: 5%;
        p>img{ width:100%;}
        p:nth-child(2){
              background-color: #fff;
            padding:30px;
        }
            p:nth-child(2) > b{display: block;}
            p:nth-child(2) > em{font-style: normal;}
            &:hover{ transform: scale(1.2);}        
            }
           
        }
   
    
    .banner{
        padding :$p100;
        text-align: center;
        a{
            display: inline-block;
            width: 180px; height:40px;
            margin: 0 2%;
           
            font-size: 0;
        }
        $bgUrl : (1:'../img/bn_01.jpg', 2:'../img/bn_02.jpg', 3:'../img/bn_03.jpg' , 4:'../img/bn_04.jpg');//키:값 형식
        @each $key,$value in $bgUrl{ //each는 값의 개수에 따라 실행횟수가 바뀜 ex 4개이면 4번함(a:nth-childe)를....
            a:nth-child(#{$key}){
                background: url($value) 0 0 / 100% no-repeat;
            }
        }
        
        //문자보관 : #{함수명}
        
        
       
        // a:nth-child(2){
        //     background: url('../img/bn_02.jpg') 0 0 / 100% no-repeat;
        // }
        // a:nth-child(3){
        //     background: url('../img/bn_03.jpg') 0 0 / 100% no-repeat;
        // }
        // a:nth-child(4){
        //     background: url('../img/bn_04.jpg') 0 0 / 100% no-repeat;
        // }
    }

    .contact{
        background-color: #222;
        color:#fff;
        text-align: center;
        padding:$p100;
        h2{
            font-size: 3rem;
            small{
                display: block;
                font-weight: normal;
                font-size: 1rem;
            }
        }
        p{}
        div{
            margin-top: 40px;
            input{  //input, a =>인라인블록요소
                padding:18px 40px;
                border:none;
                width:30%;
                vertical-align: middle; //2개이상의 것들이 가장 큰것을 기준으로 정렬.inline-block한테만 쓸수있음(대상자들에게 모두 값을 넣어줘야함)
            }
            a{
                vertical-align: middle;
                @include button( #fed136, 16px 40px , inline-block,#fff);
            }
        }
    }

    footer{  padding:$p100; text-align: center; }
}