@font-face {
  font-family: 'gotham';
  src: url("../font/GothamSSm-XLight_Web-e6c47212a5d1c045d39623dc07cd5ff6.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'gt-sectra';
  src: url("../font/GT-Sectra-Display-Light-82a3fd8a353f23c8b40ee1aa0f3505ff.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'messina-sans';
  src: url("../font/MessinaSansWeb-Regular-ac7b9005f1afe4b2e9b86ad163be8031.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* common.css */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #222;
}

img {
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 3rem 0;
  z-index: 10;
}

header > div {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header > div h1 {
  font-weight: 200;
}

header > div h1 a {
  display: inline-block;
}

header > div h1 a svg {
  width: auto;
  height: 2.15rem;
}

header > div h1 a small {
  letter-spacing: 4px;
  font-size: 10px;
  text-transform: uppercase;
}

header > div nav {
  font-family: 'messina-sans';
  margin-left: auto;
  margin-right: 2.3rem;
  font-size: 1rem;
}

header > div nav a {
  display: inline-block;
  position: relative;
  color: #fff;
  margin-right: 1.8rem;
  font-weight: 200;
}

header > div nav a::after {
  content: '';
  border-bottom: 1px solid #fff;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  -webkit-transform-origin: right;
          transform-origin: right;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

header > div nav a:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

header > div .triger-menu {
  display: block;
  width: 22px;
  height: 40px;
  position: relative;
}

header > div .triger-menu span {
  position: absolute;
  right: 0;
  top: 50%;
  border: 1px solid #fff;
  width: 100%;
}

header > div .triger-menu span:nth-of-type(1) {
  -webkit-transform: translateY(-300%);
          transform: translateY(-300%);
}

header > div .triger-menu span:nth-of-type(3) {
  -webkit-transform: translateY(300%);
          transform: translateY(300%);
  width: 50%;
}

.button {
  width: 80%;
  margin: 0 auto;
  position: absolute;
  left: 10%;
  bottom: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button h3 {
  color: #fff;
  line-height: 2;
  font-family: 'messina-sans';
  font-size: 1.175rem;
}

.button h3 small {
  font-size: .9rem;
  color: rgba(255, 255, 255, 0.65);
}

.button p {
  width: 90px;
  height: 90px;
  border: 1px solid #fff;
  border-radius: 100%;
  z-index: 5;
}

.button p svg {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
  margin: 50%;
  width: 1.5rem;
  height: auto;
}

.button p svg polygon {
  fill: #fff;
}

footer {
  width: 100%;
  height: 30vw;
  background-color: #03201c;
}

footer .foot {
  padding-top: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'messina-sans';
  width: 80%;
  color: #fff;
  margin: 0 auto;
}

footer .foot .left {
  padding: 0;
  width: 50%;
}

footer .foot .left svg {
  display: block;
  width: auto;
  height: 4rem;
}

footer .foot .left p {
  padding-top: 40%;
  color: rgba(255, 255, 255, 0.75);
  font-size: 0.75rem;
}

footer .foot .right {
  line-height: 2;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .foot .right .right-1 p {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: uppercase;
  font-size: .7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: -.01em;
  margin-bottom: 0.25rem;
  color: rgba(255, 255, 255, 0.75);
}

footer .foot .right .right-1 nav ul li a {
  line-height: 2;
  font-size: 1rem;
  color: #fff;
  display: inline-block;
  position: relative;
  width: 100%;
}

footer .foot .right .right-1 nav ul li a::after {
  content: '';
  border-bottom: 1px solid #fff;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  -webkit-transform-origin: right;
          transform-origin: right;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

footer .foot .right .right-1 nav ul li a:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

footer .foot .right .right-2 {
  margin-left: 6vw;
  width: 100%;
}

footer .foot .right .right-2 nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .foot .right .right-2 nav ul li a {
  margin-bottom: 0.25rem;
  line-height: 2;
  font-size: 1rem;
  color: #fff;
  display: inline-block;
  position: relative;
  width: 100%;
}

footer .foot .right .right-2 nav ul li a::after {
  content: '';
  border-bottom: 1px solid #fff;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  -webkit-transform-origin: right;
          transform-origin: right;
  width: auto;
  position: absolute;
  left: 0;
  bottom: 0;
}

footer .foot .right .right-2 nav ul li a:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.vdo {
  position: relative;
  width: 100%;
  height: 100vh;
}

.vdo video {
  width: 100%;
}

.vdo h2 {
  font-weight: 200;
  position: absolute;
  left: 20vw;
  top: 20vw;
  color: #fff;
  font-family: 'gt-sectra';
  line-height: 0.7;
  font-size: calc(26px + 4.2vw);
}

.vdo h2 small {
  font-family: 'gotham';
}

.first {
  width: 100%;
  height: 100%;
  padding: 6% 0;
  background-color: #fff;
  background-image: url("../img/index/index_background.jpg");
}

.first .fir-1 {
  margin: 8rem 10% 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
}

.first .fir-1 .left {
  margin-right: 10%;
  width: 50%;
}

.first .fir-1 .left h4 {
  font-size: calc(30.66667px + 1.06667vw);
  font-family: 'gt-sectra';
  font-weight: 200;
  line-height: 1.1;
  margin-bottom: 2rem;
}

.first .fir-1 .left h4 small {
  font-family: 'gotham';
  font-size: 90%;
  font-weight: 100;
}

.first .fir-1 .left p {
  font-family: 'messina-sans';
  font-size: 1rem;
  white-space: pre-line;
  line-height: 2;
  color: #777;
}

.first .fir-1 .left img {
  margin-top: 35%;
  width: 90%;
  height: 39%;
}

.first .fir-1 .right {
  width: 50%;
}

.first .fir-1 .right img {
  width: 90%;
  height: 80%;
  margin-left: 5%;
}

.slider .second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 7rem 10% 0 10%;
}

.slider .second .left h5 {
  font-weight: 200;
  font-family: 'gt-sectra';
  font-size: 50px;
  margin-bottom: 30px;
}

.slider .second .left h5 small {
  font-family: 'gotham';
  font-weight: 100;
}

.slider .second .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider .second .right button {
  -webkit-box-shadow: 0px 8px 14px 0px gray;
          box-shadow: 0px 8px 14px 0px gray;
  background-color: #fff;
  margin-right: 1.5rem;
  width: 8vh;
  height: 8vh;
  border: 1px solid #fff;
  border-radius: 100%;
}

.slider .second .right button svg {
  width: 1.35rem;
  height: auto;
  margin: 40%;
}

.slider .second .right button:nth-of-type(2) svg {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.slider .slide {
  z-index: 3;
  overflow: hidden;
  margin-top: 50px;
  width: 100%;
  white-space: nowrap;
  position: relative;
}

.slider .slide ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider .slide ul li {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 30%;
  height: 35vw;
  position: relative;
  margin-right: 1rem;
}

.slider .slide ul li img {
  width: 100%;
  -webkit-transition: .4s;
  transition: .4s;
  height: 100%;
}

.slider .slide ul li p {
  font-size: 2rem;
  font-family: 'gt-sectra';
  font-weight: 200;
  margin-bottom: 1rem;
  position: absolute;
  left: 2.5rem;
  bottom: 1.5rem;
  color: #fff;
  white-space: pre-line;
}

.slider .slide ul li p small {
  font-family: 'messina-sans';
  color: rgba(255, 255, 255, 0.75);
  line-height: 1.5;
  font-size: .9rem;
}

.slider .slide::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f3f3f3;
  left: 0%;
  top: 6rem;
  z-index: -3;
}

.third {
  width: 100%;
  position: relative;
  background-color: #f3f3f3;
  padding: 10% 0 5% 10%;
}

.third h6 {
  font-weight: 200;
  font-family: 'gt-sectra';
  line-height: 0.9;
  font-size: 50px;
  white-space: pre-line;
  margin-bottom: 30px;
}

.third h6 small {
  font-family: 'gotham';
  font-weight: 100;
}

.third p {
  white-space: pre-line;
  color: #999;
  line-height: 1.5;
  font-family: 'messina-sans';
  margin-bottom: 40px;
}

.third nav a {
  font-family: 'messina-sans';
  padding: 0 10px;
}

.third nav a:nth-of-type(1) {
  text-decoration: underline;
}

.four {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f3f3f3;
}

.four .earth img {
  width: 100%;
}

.four .earth-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 48%;
  height: 46%;
  position: absolute;
  background-color: #161F1E;
  left: 50%;
  top: 5%;
}

.four .earth-right .content {
  margin-right: 2.5rem;
  padding: 2.5rem 1.5rem 2.5rem 2.5rem;
  width: 50%;
}

.four .earth-right .content nav {
  height: 10%;
  width: 50%;
  margin-bottom: 1rem;
}

.four .earth-right .content nav button {
  outline: 0;
  border: 0;
  border-radius: 0;
  background-color: transparent;
}

.four .earth-right .content nav button svg {
  height: 1.1rem;
  width: auto;
  fill: #fff;
}

.four .earth-right .content nav button:nth-of-type(2) svg {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.four .earth-right .content .weather {
  width: 100%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.5rem;
}

.four .earth-right .content .weather figure {
  display: block;
  width: 33%;
  height: 100%;
  margin-bottom: 0.5rem;
}

.four .earth-right .content .weather figure img {
  margin-bottom: 1rem;
  width: 2em;
}

.four .earth-right .content .weather figure figcaption {
  color: rgba(255, 255, 255, 0.5);
  font-size: .9rem;
  width: 100%;
  white-space: nowrap;
}

.four .earth-right .content .text p {
  color: #fff;
  font-family: 'gt-sectra';
  font-weight: 200;
  font-size: 4rem;
  line-height: 1.6;
  margin-bottom: 15%;
}

.four .earth-right .content .text p small {
  font-family: 'messina-sans';
  display: block;
  color: rgba(255, 255, 255, 0.5);
  font-size: .9rem;
}

.four .earth-right .content .text-bottom {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.four .earth-right .content .text-bottom img {
  width: 1.3em;
  margin-right: 1rem;
}

.four .earth-right .content .text-bottom p {
  font-family: 'messina-sans';
  width: 100%;
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.5);
  font-size: .9rem;
}

.four .earth-right .content-right {
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
}

.four .earth-right .content-right p {
  width: 100%;
  height: 100%;
}

.four .earth-right .content-right p img {
  width: 100%;
  height: 100%;
}

.last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100vh;
}

.last figure {
  position: relative;
  width: 35%;
  margin: 0;
}

.last figure img {
  width: 100%;
  height: 100%;
}

.last figure figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'gotham';
  font-weight: 100;
  font-size: calc(21.33333px + 1.13333vw);
  color: #fff;
  position: absolute;
  left: 30%;
  top: 50%;
}

.last figure button {
  background-color: transparent;
  position: absolute;
  left: 45%;
  top: 55%;
  margin-top: 1.5rem;
  width: 3rem;
  height: 3rem;
  border: 1px solid #fff;
  border-radius: 100%;
}

.last figure button svg {
  width: 1.15rem;
  fill: #fff;
  margin: 30%;
}
/*# sourceMappingURL=index.css.map */