@import '_common.scss';
$w100 : 100%;

.first{
    width:$w100; height:100vh;
    position: relative;
    img{width:$w100; height:100%;}
    h1{
        color:#fff;
        position: absolute;
        left:20vw; top:20vw;
        line-height:0.9;
        font-size:calc(20.66667px + 3.06667vw);
        font-weight:200;      
        font-family:'gt-Sectra';
        small{font-family:'gotham';}
    }
}
.first::before{
    content:"";
    width:$w100; height:100%;
    position: absolute;
    left:0; top:0;
    background-color: rgba(17,17,17,.35);
}

.second{
    width:$w100;  height:125vh;
    padding:0 10%;
    background-color:#f3f3f3;
    position:relative ;
    h2{
        width:80%;
        padding:5% 0;
        line-height:1.4;
        font-family:'gt-Sectra';
        font-weight:200;
        font-size:calc(21.33333px + 1.13333vw);
        }
        .left{
            width:70%;
            img{width:$w100; height:90vh;}
        }
        .right{
            position: absolute;
            right:10%; top:23%;
            background-color: #fff;
            padding:3% 5%;
            width:30%; height:60%;
            p:nth-of-type(1){
                margin-bottom: 1rem;
                transform-origin: left;
            }
            p:nth-of-type(2){  
                color:#777;
                line-height: 1.5; 
                font-family: 'messina-sans';
                font-size: 1rem;
                margin-bottom: 4rem;
            }
            h3{ 
                margin-bottom: 2rem; 
                line-height: 1.1; 
                transform-origin: left;
                font-size:calc(21.33333px + 1.13333vw) ; 
                font-weight: 200;
                font-family: 'gt-sectra';
            }
            a{
                font-weight: 200;
                padding:1.5rem 2.5rem;
                width:10rem;
                color:#000;
                border: 0.8px solid #000;
                height:3.75rem; font-size: 0.9rem;
            }
        }
}

.third{
    width:$w100;  padding: 3% 0;
    h3{
        font-family: 'gt-sectra';
        margin: 0 10% ;
        font-size: calc(21.33333px + 1.13333vw);
        line-height:1.4; 
        font-weight: 200; 
    }
    ul{
        width:$w100;
        display:flex;
        li{
            width:50%; margin:2% 10% 5% 10%;
            h4{ 
                font-size: calc(19px + .4vw); 
                margin-bottom: 1rem;
                font-weight: 100;
                line-height: 1.1;
                font-family: 'gotham';}
            p{
                margin-bottom: 5rem;
                font-family: 'messina-sans';
            }
            a{
                border: 1px solid #000;
                width:$w100;
                padding: 1.2rem 2rem;
                font-size: .8rem;
                font-family: 'messina-sans';
            }
        }
    }
}