@font-face {
  font-family: 'Cafe24 Ssurround';
  src: url("../font/Cafe24Ssurround.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* common.css */
* {
  font-family: 'Cafe24 Ssurround';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #222;
}

img {
  vertical-align: middle;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

table {
  border-collapse: collapse;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 30px 0;
  z-index: 9;
}

header > div {
  position: relative;
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

header > div a {
  color: #fff;
}

header > div h1 a {
  background: url("../img/logo.png") no-repeat;
  font-size: 0;
  width: 96px;
  height: 36px;
  display: block;
}

header > div nav {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

header > div nav a {
  display: inline-block;
  padding: 0 2%;
}

header > div .trigger-menu {
  right: 0;
  top: 30;
  position: absolute;
  width: 26px;
  height: 16px;
  cursor: pointer;
  display: none;
}

header > div .trigger-menu span {
  width: 100%;
  border-bottom: 2px solid #fff;
  position: absolute;
  left: 0;
  top: 50%;
}

header > div .trigger-menu span:nth-of-type(1) {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

header > div .trigger-menu span:nth-of-type(3) {
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

.contact {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 100px 0;
}

.contact h2 {
  font-size: 3rem;
  text-transform: uppercase;
}

.contact h2 small {
  display: block;
  font-weight: normal;
  font-size: 1rem;
}

.contact div {
  margin-top: 40px;
}

.contact div input {
  padding: 18px 40px;
  border: none;
  width: 30%;
  vertical-align: middle;
}

.contact div a {
  vertical-align: middle;
  background-color: #fed136;
  padding: 16px 40px;
  display: inline-block;
  color: #fff;
}

footer {
  padding: 100px 0;
  text-align: center;
}

main {
  text-align: center;
}

.first {
  width: 70%;
  margin: 0px auto;
}

.first h1 {
  font-size: 50px;
}

.first h1 small {
  font-weight: normal;
  font-size: 15px;
  color: #555;
}

.first .img {
  margin: 70px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.first .img div {
  white-space: pre-line;
}

.first .img div p:nth-of-type(1) {
  margin: 0 auto;
  border: 3px solid #e9f363;
  border-radius: 90%;
  width: 150px;
  height: 150px;
}

.first .img div p:nth-of-type(1) img {
  margin: 50px;
}

.second {
  width: 100%;
  background-color: #555;
}

.second > div {
  margin: 0 auto;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.second > div .left {
  height: 50%;
  padding: 30px;
  width: 50%;
}

.second > div .left img {
  width: 100%;
  margin-right: 50px;
}

.second > div .right {
  line-height: 2;
  width: 50%;
  text-align: left;
}

.second > div .right h2 {
  font-size: 50px;
}

.second > div .right p {
  margin-bottom: 10px;
}

.second > div .right ul {
  list-style-type: none;
}

.second > div .right ul li p span {
  background-color: #edf850;
  text-align: right;
  display: block;
  padding: 10px;
  color: #fff;
}

.second > div .right ul li p span:nth-of-type(1) {
  width: 60%;
}

.second > div .right ul li p span:nth-of-type(2) {
  width: 60%;
}

.second > div .right ul li p span:nth-of-type(3) {
  width: 60%;
}

.second > div .right ul li p span:nth-of-type(1) {
  width: 80%;
}
/*# sourceMappingURL=sub.css.map */